<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to JAnSoN!</h1>
    <p>Thanks for joining Just Another Social Network!</p>
     <p>If you haven't already take a moment to complete your <%= link_to 'profile', edit_profile_url %>.
     Then <%= link_to 'find some friends', users_url %> and start posting!</p>
  </body>
</html>