<div class="row">
  <aside class="col-md-4">
    <%= render 'shared/profile' %>
  </aside>
  <div class="col-md-8">
  	<h3>What's New?</h3>
    <%= render "posts/post_form" %>
  	<% if @posts.any? %>
    	<ol class="posts">
    		<%= render @posts %>
    	</ol>
      <%= will_paginate @posts %>
    <% else %>
    	<p class="text-muted"><em>
    		No news...
    	</em></p>
    <% end %>
  </div>