@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

	 h1 {
  		margin-bottom: 10px;
	}
}

img { max-width: 100%; height: auto !important; }


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.panel-horizontal {
  > .panel-heading {
    float: left;
    padding: 15px;
    border-bottom: 0;
    border-right: 1px solid inherit;
  }
  > .panel-body {
    float: left;
  }
  &:after {
    content: " ";
    height: 0;
    clear: both;
    display: table;
  }
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

	&:hover {
	  color: white;
	  text-decoration: none;
	}

  em {
    color: #ccc;
    font-size: 0.7em;
    font-weight: normal;
    margin-left: 5px;
  }
}

.navbar { background: #14364A; border-radius: 0; }



/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }



/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    .gravatar {
      width: 125px;
    }
  }
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
  p.info {
    font-size: 0.9em;
    margin: 0;
    line-height: 1.5;
    color: #888;
  }
}




.gravatar {
  float: left;
  margin-right: 10px;
  width: 50px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  max-width: 296px;
  .gravatar {
    margin: 2px 2px;
    width: 70px;
  }
  a {
    padding: 0;
    > img {
      opacity: 0.65;
    }
    &:hover > img {
      opacity: 1;
    }
  }
}

.friend-count {
  line-height: 1;
  a {
    color: #666;
  }
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }

  .friend-status { margin-top: 5px; }
}

.users.requests {
  background: #eee;
  opacity: 0.6;
}

.users.friends {
  .status {
    display: none;
  }
}

.friend-links {
   a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
}




/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input[type=submit] { width: auto; }
input[type=file] { border: none; margin: 0; }

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
}

#new-post {
  .group-half {
    width: 50%;
    float: left;
    .pic {
      margin-left: 20px;
    }
  }
  .submit { clear: both; }
}

button.close {
    margin-top: -3px;
    margin-left: 10px;
}


/* microposts */

.posts {
  list-style: none;
  padding: 0;
  .panel-body > .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .panel-body > .content {
    display: block;
    margin-top: 10px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    width: 45px;
    margin-top: -3px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.like-form { display: inline-block; }

.post-stats { 
  .count {
    display: inline-block;
    margin-left: 10px;
  }
}

.show-post {
  .comment-form {
    margin-bottom: 10px; 
  }
  .pagination {
    margin: 0;
  }
}


/* comments */

.comments {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-size: 0.9em;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  .user, .content {
    display: inline;
  }

  textarea, input { 
    margin: 0; 
    font-size: inherit;
  }
  .gravatar {
    width: 30px;
    margin-top: 2px;
  }
  .more-link {
    margin-bottom: 10px;
    display: inline-block;
  }
}


/* notifications */

.notify {
  p {
    margin: 0;
  }
  .edit-friendship {
    margin-bottom: 3px;
  }
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
	a {
  		color: $gray;
  		&:hover {
		  color: $gray-darker;
		}
	}
	small {
	  float: left;
	}
	ul {
	  float: right;
	  list-style: none;
	  li {
		  float: left;
		  margin-left: 15px;
		}
	}
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

