<footer class="text-muted">
	<div class="col-md-12">
		<p><small>A simple social networking site. View the code on 
			<%= link_to "GitHub", "https://github.com/shasta28/janson", target: "_blank" %>.</small>
			<br>
			<small>Built in Ruby on Rails as part of <%= link_to "The Odin Project", "http://www.theodinproject.com/ruby-on-rails/final-project", target: "_blank" %>.</small>
		</p>
		<br>
	</div>
</footer>